<html>

<head>
	<title>Social Futures Lab - UW CSE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The Social Futures Lab at UW CSE studies, designs, and builds the social computing systems of the future.">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,600|Work+Sans:300,400,600&display=swap" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="css/mavo.min.css">
	<script src="js/mavo.es5.min.js"></script>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon"> </head>

<body>
	<div class="container-fluid">
		<div class="row">
			<BR></div>
		
		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 line"> 
			<a class="title_name" href="index.html">Social Futures Lab</a>
			</div>
			
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 line">
				
			<span style="font-size: 18px;">
				<a href="research.html">Research</a> - 
				<a href="members.html">Team</a> - 
				<a href="news.html">News</a>
        	</span>
        	<BR>
        		<BR>
        			
        			
			
				<P> 
					
					The <b>Social Futures Lab</b> is based out of the <a href="http://cs.uw.edu/">Allen School of Computer Science & Engineering</a> at University of Washington.
					Our group is reimagining social and collaborative systems to empower people and improve society.
				
					 </P>
					
			</div>
			</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 line">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pubbody"> <span class="mini-header" id="projects">
						People</span> </div>
				</div>
				<BR>
				<div mv-bar="none" mv-app="people" mv-source="https://github.com/amyxzhang/lab_website">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pubbody">
							
							<article class="member-index" property="member" typeof="Person" mv-multiple>
								<a href="" property="homepage">
									<img src="null" class="person-img" property="image" alt=""><BR>
									<span property="name">Name</span><BR>
									
									</a>
									<meta property="id" content="[name]">
									
									<p property="jobTitle">
										<select>
											<option value="pi">Assistant Professor</option>
											<option value="postdoc" selected>Postdoctoral Researcher</option>
											<option value="phd" selected>PhD Student</option>
											<option value="visiting">Visiting Researcher</option>
											<option value="masters">Masters Student</option>
											<option value="undergrad">Undergraduate Student</option>
										</select>
									</p>
									
							</article>
										
								<div hidden>
									<datalist id="memberList">
										<option property="person" mv-multiple mv-value="name"></option>
									</datalist>
								</div>
									
						</div>
					</div>
				</div>
					<BR><BR>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pubbody"> 
						<span class="mini-header" id="projects">
							Latest Publications</span> <a href="research.html">(see all)</a>  </div>
				</div>
				<BR>
				<div mv-bar="none" mv-app="publications" mv-source="https://github.com/amyxzhang/lab_website" mv-permissions="read">
					
					
					<article class="row" property="paper" mv-multiple mv-if="$index < 10">
						
						<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2"> 
							<img class="img-responsive center-block" property="image" src="null" alt="img alt" / style="border: 1px #737373 solid; margin-top: 6px;">
						</div>
						
						
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 pubbody">
							
							<B><span class="mini-header2" property="title">Paper Title</span></B><BR>
							
							<span property="author" mv-multiple>
									<meta property="authorData" mv-value="get(people.member, 'id=' & author_name)" />
									<img src="[authorData.image]" alt="" mv-if="authorData != ''">
									<span property="author_name" mv-edit-list="memberList">Author Name</span></span>
							<BR>
								<a href="null" property="conference url">
									<span property="conference">Conference</span>
									<span property="year">Year</span>
								</a>
								
								<span class="btn btn-xs btn-warning" property="award">Award</span>
								
							<BR>
								
							<span property="links">
								<a href="null" property="pdf_url" class="button">
									<img src="img/pdf.png"><span>PDF</span>
								</a>
								
								<a href="null" property="website_url" class="button">
									<img src="img/earth4.png"><span> Website</span>
								</a>
								
								<a href="null" property="code_url" class="button">
									<img src="img/github5.png"><span> Code</span>
								</a>
								
								<a href="null" property="slides_url" class="button">
									<img src="img/slides.png"><span> Slides</span>
								</a>
								
								<a href="null" property="video_url" class="button">
									<img src="img/youtube.jpg"><span> Video</span>
								</a>
								
								<BR><BR>
							</span>
								
								
						</article>
						
						
					</div>
					
						
		</div>
			
			<div class="col-xs-12 col-sm-4 col-md-4 line" style="float: right">
				<BR> <span class="mini-header">
						<h3>News</h3>
					</span> 
					
					<div mv-bar="none" mv-app="news" mv-source="https://github.com/amyxzhang/lab_website" >
						<span property="news_item" mv-multiple mv-if="$index < 10">
						<span property="date">
							Date</span>:
						
							<span property="title">
								Title
							</span>
							<a href="[news_item.link_url]" mv-if="link_url != 'null'"> >>
						</a>
						<BR><BR>
						</span>
						
					</div>
					
					<BR> <span class="mini-header">
						<h3>Courses</h3>
					</span> 
					
					<a href="https://courses.cs.washington.edu/courses/cse440/">CSE 440: Introduction to HCI</a><BR>
						Winter 2021<BR><BR>
					<a href="">CSE 599: Social Computing Research</a><BR>
						Spring 2021<BR>
									
					
				
				 <!-- <BR> 
					<span class="mini-header">
						<h3>Tweets By @SocFuturesLab</h3>
					</span> <a class="twitter-timeline" width="300" height="400" data-chrome="nofooter noheader noborder transparent" data-border-color="#ffffff" href="https://twitter.com/SocFuturesLab" data-widget-id="515768611978223616">
						Tweets by @SocFuturesLab</a>
				<script>
				! function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0],
						p = /^http:/.test(d.location) ? 'http' : 'https';
					if(!d.getElementById(id)) {
						js = d.createElement(s);
						js.id = id;
						js.src = p + "://platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js, fjs);
					}
				}(document, "script", "twitter-wjs");
				</script> 
				<P></P>  -->
				<BR> </div>
		</div>
	</div>
	<P></P>
	<BR> <small>This site built by &copy; Amy X. Zhang, <a href="https://github.com/amyxzhang/lab_website">github code here</a>.</small>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>